.bg{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)),
    url("../assets/villa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}